.right-div {
    grid-column: 3/3;
    height: 100vh;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 1.25rem;
    background-color: rgba(217, 217, 217, 0.594);
    margin: 15px;
    overflow-y: scroll;
}
