.middle-div {
    grid-column: 2/2;
    height: 100vh;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 1.25rem;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle-div h1 {
    overflow-y: scroll;
}

.messages-list {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.input-div {
    display: flex;
}

.react-input-emoji-input {
    width: 100px;
}

.text-form {
    width: 100%;
    gap: none;
    display: block;
}

.send-btn {
    border-radius: 1.25rem;
    border: 2px solid rgb(151, 151, 151);
    width: 80px;
    height: 30px;
    margin: 10px 10px;
    padding: 0 !important;
    font-size: 15px !important;
}

.send-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 132, 255, 0.502);
}


@media (max-width: 1200px) {
    .middle-div {
        grid-column: 1/4;
    }
}
