.middle-div {
    grid-column: 2/2;
    height: 100vh;
    border: 1px solid black;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle-div h1 {
    overflow-y: scroll;
}

.messages-list {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.input-div {
    display: flex;
}

.react-input-emoji-input {
    width: 100px;
}

.text-form {
    width: 100%;
    gap: none;
    display: block;
}
