.left-div {
    grid-column: 1/1;
    height: 92vh;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 1.25rem;
    background-color: rgba(217, 217, 217, 0.594);
    margin: 15px;
    overflow-y: scroll;
}

@media (max-width: 1200px) {
    .left-div {
        display: none;
    }

    .chat-list-mobile-hidden {
        display: none;
    }

    .chat-list-mobile {
        display: block;
        z-index: 9;
        position: absolute;
        right: 60%;
    }
}

@media (max-width: 500px) {
    .chat-list-mobile {
        left: 0px;
        padding: 0 10px;
    }
}
