.user-item {
    width: 95%;
    height: 70px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1.25rem;
    background-color: white;
    margin: 15px auto;
}

.user-item-content {
    z-index: 0;
}

.hidden {
    display: none;
}
